.pagenotfound {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #22b455, #1dd1a1);
  font-family: "Sora", sans-serif;
}

.pagenotfound .container {
  width: 550px;
  height: 350px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 12px 12px 23px #bebebe, -12px -12px 23px #fff;
  text-align: center;
  padding-top: 20px;
}

.pagenotfound h1 {
  font-size: 10rem;
  background: linear-gradient(45deg, #22b455, #1dd1a1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 750;
}

.pagenotfound h2 {
  color: #204829;
  margin-top: -10px;
  margin-bottom: 10px;
}

.pagenotfound p {
  color: #204829;
  font-weight: 450;
  margin: 10px;
}

.pagenotfound .btn {
  padding: 12px 24px;
  border-radius: 20%;
  border: none;
  background: linear-gradient(to left, #22b455, #1dd1a1, #22b455);
  background-size: 200%;
  color: white;
  cursor: pointer;
  transition: 0.3s linear;
}

.pagenotfound .btn:hover {
  background-position: right;
}
