body{
  background-color: #111;
}
.card{
  background-color: rgb(130, 36, 51);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}